{% load static %}
{% load active_url_tag %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CCTCG{% endblock %}</title>
    {% block extra_head %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <div class="wrapper">
        <header>
            {% if user.is_authenticated %}
            <a href="/profile">{{ user.username }}</a>
            {% else %}

            {% endif %}
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer class="base-footer">
            <ol class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a href="/home" class="nav-link {% active_class request 'home' %}">🏠 Home</a>
                </li>
                <li class="nav-item">
                    <a href="/dex" class="nav-link {% active_class request 'dex' %}">📚 Dex</a>
                </li>
                <li class="nav-item">
                    <a href="/battle" class="nav-link {% active_class request 'battle' %}">🥊 Battle</a>
                </li>
                <li class="nav-item">
                    <a href="/inventory" class="nav-link {% active_class request 'inventory' %}">🎒 Inventory</a>
                </li>
            </ol>
        </footer>
    </div>
</body>

</html>