{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/manage.css' %}">
{% endblock %}

{% block content %}
<header class="h1-header">
    <h1>Card Management</h1>
</header>
<div class="form-container container-fluid">
    <div class="row gx-3 gy-4">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Ability</h5>
                    <p class="card-text">
                        Add abilities to the database. Abilities can be attached individually to cards in the card
                        creation process.
                    </p>
                    <a href="ability" class="btn btn-primary">Go to Ability Management</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Move</h5>
                    <p class="card-text">
                        Add moves to the database. One or more moves can be attached to cards in the
                        card creation process.
                    </p>
                    <a href="move" class="btn btn-primary">Go to Move Management</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Illustrator</h5>
                    <p class="card-text">
                        Add illustrators to the database. An illustrator can be attached to cards in the
                        card creation process.
                    </p>
                    <a href="illustrator" class="btn btn-primary">Go to Illustrator Management</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Profile Picture</h5>
                    <p class="card-text">
                        Add profile pictures to the database. Each user can set their profile picture and change it
                        whenever they like.
                    </p>
                    <a href="pp" class="btn btn-primary">Go to Profile Picture Management</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Collection</h5>
                    <p class="card-text">
                        Collections define packs, promos, and more. Collections organize cards for the
                        dex and control card distribution.
                    </p>
                    <a href="collection" class="btn btn-primary">Go to Collection Management</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Card</h5>
                    <p class="card-text">
                        Add cards to the database. Only use this form once you have added the
                        prerequisite data to the database.
                    </p>
                    <a href="card" class="btn btn-primary">Go to Illustrator Management</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}